<header class="bp-header cf">

  <div class="dummy-logo">
      <div class="dummy-icon foodicon foodicon--coconut"></div>
      <h2 class="dummy-heading"><a href="/">Better Specs</a></h2>
      <p class="dummy-subtitle"><a href="http://lelylan.com">{Lelylan Labs}</a></p>
    </a>
  </div>

  <div class="bp-header__main">

    <span class="bp-header__present">Rails Testing Best Practices
      <!-- <span class="bp-tooltip bp-icon bp-icon--about" data-content="{{ site.description }}"></span> -->
    </span>

    <!-- <h1 class="bp-header__title">Choose Language</h1> -->

    <!-- <nav class="bp&#45;nav"> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/" | prepend: site.baseurl }}" data&#45;info="English">/en</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/ru" | prepend: site.baseurl }}" data&#45;info="ру́сский язы́к">/ru</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/zh_tw" | prepend: site.baseurl }}" data&#45;info="正體字/繁體字">/tw</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/zh_tw" | prepend: site.baseurl }}" data&#45;info="正体字/繁体字">/cn</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/ko" | prepend: site.baseurl }}" data&#45;info="한국어/조선말">/ko</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/jp" | prepend: site.baseurl }}" data&#45;info="日本:にほん">/jp</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/br" | prepend: site.baseurl }}" data&#45;info="Português do Brasil">/br</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/es" | prepend: site.baseurl }}" data&#45;info="Espagnol">/es</a> -->
    <!--   <a class="bp&#45;nav__item" href="{{ "/fr" | prepend: site.baseurl }}" data&#45;info="Français">/fr</a> -->
    <!-- </nav> -->

  </div>

</header>
