
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="keywords" content="rspec, test, guidelines, better, rails, ruby" />
  <meta name="author" content="Lelylan" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- food icons -->
  <!-- <link rel="stylesheet" type="text/css" href="css/organicfoodicons.css" /> -->
  <!-- demo styles -->
  <!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->
  <!-- menu styles -->
  <!-- <link rel="stylesheet" type="text/css" href="css/component.css" /> -->
  <!-- <script src="js/modernizr-custom.js"></script> -->

  <script src="javascripts/modernizr-custom.js"></script>
</head>
