<header class="bp-header cf">
      
  <div class="dummy-logo">
    <div class="dummy-icon foodicon foodicon--coconut"></div>
    <h2 class="dummy-heading">Better Specs</h2>
  </div>

  <div class="bp-header__main">

    <span class="bp-header__present">Rails Testing Best Practices 
      <span class="bp-tooltip bp-icon bp-icon--about" data-content="{{ site.description }}"></span>
    </span>
    
    <h1 class="bp-header__title">Choose Language</h1>
    <nav class="bp-nav">
      <a class="bp-nav__item bp-icon bp-icon--prev" href="http://tympanus.net/Blueprints/PageStackNavigation/" data-info="previous Blueprint"><span>Previous</span></a>
      <a class="bp-nav__item bp-icon bp-icon--drop" href="http://tympanus.net/codrops/?p=25521" data-info="back to the Codrops article"><span>Back</span></a>
      <a class="bp-nav__item bp-icon bp-icon--archive" href="http://tympanus.net/codrops/category/blueprints/" data-info="Blueprints archive"><span>Go to </span></a>
    </nav>
    
  </div>

</header>