<ul class="media-grid">
  <li>
    <a href="http://www.amazon.com/gp/product/1934356646"><img class="thumbnail" src="/images/rails-test-prescription-thumb.jpg" alt="ioBridge"></a>
  </li>
  <li>
    <a href="http://www.amazon.com/gp/product/1934356379"><img class="thumbnail" src="/images/the-rspec-book-thumb.jpg" alt="ioBridge"></a>
  </li>
  <li>
    <a href="http://www.amazon.com/gp/product/1934356700"><img class="thumbnail" src="/images/continuous-testing-thumb.jpg" alt="ioBridge"></a>
  </li>
  <!--<li>-->
    <!--<a href="http://www.amazon.com/gp/product/1934356700"><img class="thumbnail" src="/images/the-cucumber-book-thumb.jpg" alt="ioBridge"></a>-->
  <!--</li>-->
</ul>
