<ol>
  <li><a href="https://www.relishapp.com/rspec">RSpec Documentation</a></li>
  <li><a href="https://github.com/jnicklas/capybara">Capybara Documentation</a></li>
  <li><a href="https://github.com/thoughtbot/factory_girl">Factory Girl Documentation</a></li>
  <li><a href="https://github.com/bblimke/webmock">Webmock Documentation</a></li>
  <li><a href="https://github.com/travisjeffery/timecop">Timecop Documentation</a></li>
  <li><a href="http://rubydoc.info/github/thoughtbot/shoulda-matchers/master/frames">Shoulda Matchers</a></li>
  <li><a href="http://jeffkreeftmeijer.com/2010/fuubar-the-instafailing-rspec-progress-bar-formatter/">Fuubar Release</a></li>
</ol>
