<ol>
  <li><a href="https://leanpub.com/everydayrailsrspec">Everyday Rails Spec</a></li>
  <li><a href="http://eggsonbread.com/2010/03/28/my-rspec-best-practices-and-tips/">Eggs on Bread Best Practices</a></li>
  <li><a href="http://blog.carbonfive.com/2010/10/21/rspec-best-practices/">The Carbon Emitter Best Practices</a></li>
  <li><a href="http://blog.andyvanasse.com/post/503615383/rspec-best-practices">Andy Vanasse Best Practices</a></li>
  <li><a href="http://bitfluxx.com/2011/05/23/some-rspec-tips-and-best-practices.html">Bitfluxx Best Practices</a></li>
  <li><a href="http://kpumuk.info/ruby-on-rails/my-top-7-rspec-best-practices/">Dmytro Shteflyuk Best Practices</a></li>
  <li><a href="https://robots.thoughtbot.com/tags/rspec">thoughtbot's RSpec Related Reading</a></li>
  <li><a href="http://arjanvandergaag.nl/blog/factory_girl_tips.html">FactoryGirl Tips and Tricks</a></li>
  <li><a href="https://www.relishapp.com/rspec/rspec-core/v/3-2/docs/example-groups/shared-examples">Shared Examples</a></li>
  <li><a href="http://gmoeck.github.io/2012/07/09/dont-make-your-code-more-testable.html">Don't make your code "More Testable"</a></li>
</ol>
