<ol>
  <li><a href="https://peepcode.com/screencasts/rspec">RSpec on PeepCode</a></li>
  <li><a href="http://www.codeschool.com/courses/testing-with-rspec">Testing With RSpec Code School course</a></li>
  <li><a href="http://railscasts.com/episodes/285-spork">Spork Railscast</a></li>
  <li><a href="http://vimeo.com/46795747">Using Zeus to speed up your tests</a></li>
  <li><a href="http://www.codeschool.com/code_tv/guard-and-spork">Code TV Screencast on Guard and Spork</a></li>
  <li><a href="https://www.destroyallsoftware.com/screencasts/">Many of Destroy All Software screencasts</a></li>
</ol>
