<!DOCTYPE html>
<html>
  <head>
    <title>Better Specs { rspec guidelines with ruby }</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Better Specs tries to fill the miss of testing guidelines by collecting most of the best practices developers has been learning the hard way through years of experience">

    <link href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/buttons.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/highlight/tomorrow.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/raphael.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap-tabs.js" type="text/javascript"></script>
    <script src="/javascripts/highlight/highlight.pack.js" type="text/javascript"></script>
    <script src="/javascripts/application.js" type="text/javascript"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35269689-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

  <body class="docs description %>">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=117921285026384";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header id="header">
    <h1><a href="/">Better Specs <span>{ rspec guidelines with ruby }</span></a></h1>
    <ul class="langs">
      <li>translations</li>
      <li><a href="/"><img src="/images/flags/us.png" alt="english"></a></li>
      <li><a href="/ru/"><img src="/images/flags/ru.png" alt="russian"></a></li>
      <li><a href="/ko/"><img src="/images/flags/kr.png" alt="korean"></a></li>
      <li><a href="/jp/"><img src="/images/flags/jp.png" alt="japanese"></a></li>
      <li><a href="/br/"><img src="/images/flags/br.png" alt="brazilian portuguese"></a></li>
      <li><a href="/zh_tw/"><img src="/images/flags/tw.png" alt="中文(台灣)"></a></li>
      <li><a href="/es/"><img src="/images/flags/es.png" alt="spanish"></a></li>
    </ul>
    <h2>
      <a href="/">Documentation</a>
    </h2>
    </header>

    <article id="article">

    <nav id="nav">

    <ul>
      <%= content_for(@item, :menu) %>
    </ul>

    <!--<div id="search">-->
      <!--<form accept-charset="UTF-8" action="/docs/search" method="get">-->
        <!--<div style="margin:0;padding:0;display:inline">-->
          <!--</div>-->
        <!--<input type="search" name="query" value="" placeholder="Search..." results="0" />-->
        <!--</form>-->
      <!--</div>-->
    </nav>

    <section id="section">
    <%= yield %>

    <article class="comments">
    <%= render 'partials/services/disqus' %>
    </article>
    </section>

    </article>

  </body>

</html>
